<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.massivekinetics.ow"
          android:versionCode="3"
          android:versionName="1.02" android:installLocation="auto">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <supports-screens
            android:smallScreens="false"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:anyDensity="true" />

    <application android:label="@string/app_name" android:name="com.massivekinetics.ow.application.OWApplication"
                 android:hardwareAccelerated="true"
                 android:icon="@drawable/icon" android:theme="@style/AppTheme">

        <activity android:name=".activities.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.ForecastPageActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.massivekinetics.ow.forecast"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.OWNotification">

        </activity>

        <activity android:name=".activities.SettingsActivity" android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Holo.Light"/>
        <activity android:name=".activities.NotificationSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ErrorActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.NetworkErrorActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.UpdatePageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.TestActivity"/>
        <activity android:name=".activities.FirstLocationActivity"/>
        <activity android:name=".activities.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.NotificationReceiver">
            <intent-filter>
                <action android:name="com.massivekinetics.ow.notification"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".widgets.oWeatherProvider4x2" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x2_info"/>
        </receiver>
        <service android:name=".widgets.ClockUpdateService">
            <intent-filter>
                <action android:name="com.mk.clock.action.UPDATE" />
            </intent-filter>
        </service>
    </application>

</manifest>